{# {{ dd(entry.extension.value) }}#}
{# {{ dd(config('anomaly.module.files::mimes.types.image')) }}#}
<div data-id="{{ entry.id }}" class="item_wrapper">
    <div class="col-md">
        <div class="panel">
            <div class="image-container">
{#                {% if entry.extension.value in config('anomaly.module.files::mimes.types.image') %}#}
                {{ entry.preview(300,300) | raw }}
                {{ entry.size_label | raw }}
{#                {% endif %}#}
                <div class="actions">
                    <a class="btn btn-xs btn-info">
                        {{ trans('theme::button.edit') }}
                    </a>
                    <a class="btn btn-xs btn-info" target="_blank">
                        {{ trans('theme::button.view') }}
                    </a>
                </div>
            </div>
            <strong>{{ entry.name }}</strong>
            <small class="text-muted">{{ entry.folder.disk.slug }}://{{ entry.folder.slug }}
                /{{ entry.name }}</small>
            <br>
            <span class="keywords">{{ entry.keywords.labels|join }}</span>
        </div>
    </div>
</div>